<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm top-element">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../images/Rectangle 62.svg" alt="" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <img src="../images/fi_menu.svg" class="collapse-button" alt="" />
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                <button class="btn btn-outline-primary" type="submit">
                    Search
                </button>
            </form>
            <img src="../images/pfp.svg" class="pfp me-2" alt="" />
            <p class="text-center my-auto">Administrator</p>
            <img src="../images/profile-collapse-button.svg" class="ms-3" alt="" />
        </div>
    </div>
</nav>