<div class="col-1 col-maxcontent rm-padding">
    <div class="sidebar">
        <a href="/" class="d-flex justify-content-center pt-3"><img src="../images/logo-left.svg" class="" alt="" /></a>
        <div class="side-item">
            <a href="/" class="d-flex justify-content-center pt-4"><img src="../images/fi_home.svg" class="" alt="" />
            </a>
            <p class="side-font text-center">Dashboard</p>
        </div>
        <div class="side-item-active">
            <a href="#" class="d-flex justify-content-center pt-2"><img src="../images/fi_truck.svg" class="" alt="" />
            </a>
            <p class="side-font text-center">Cars</p>
        </div>
    </div>
</div>